

<!--Begin Header Bar-->
		<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
		  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
		  <div class="title-bar-title">Menu</div>
		</div>

		<div class="top-bar" id="responsive-menu">
		  <div class="top-bar-left">
			<ul class="menu">
			  <li><img src="images/gantry-logo-rect.png" class="logo"></li>
			  <li><a href="index.html">Home</a></li>
			  <!--<li class="is-active"><a href="index.html">Home</a></li>-->
			  <li><a href="project.html">Project</a></li>
			  <!--<li><a href="firewall.html">FireWall</a></li>-->
			  <li><a href="compute.html">Compute</a></li>
			  <!--<li><a href="automation.html">Automation</a></li>-->
			</ul>
		  </div>
		  <div class="top-bar-right">
			<ul class="menu">
			  <li><a href="/website/index.html">Logout</a></li>
			</ul>
		  </div>
		</div>
		<script>$(document).foundation();</script>

<!--End Header Bar-->
